.header .button {
  display: none;

  @include for-size(tablet-landscape) {
    display: block;
  }

  // Size
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 260px;

  // Visual
  border: 2px solid $accent-color;
  background-color: transparent;
  color: $accent-color;

  // Text
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  // Reset
  cursor: pointer;
  outline: none;
  text-decoration: none;

  //  Effects
  transition: color $timing-function $transition-duration,
    background-color $timing-function $transition-duration;

  &:hover {
    color: #ffffff;
    background-color: $accent-color;
  }

  @include for-size(desktop) {
    padding-top: 27px;
    padding-bottom: 27px;
    min-width: 336px;

    // Text
    font-weight: bold;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.14em;
    text-transform: uppercase;
  }
}

.button {
  // Size
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: 260px;

  // Visual
  background-color: $accent-color;
  color: #ffffff;
  border: 2px solid transparent;

  // Text
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  // Reset
  cursor: pointer;
  outline: none;
  text-decoration: none;

  // Effects
  transition: color $timing-function $transition-duration,
    background-color $timing-function $transition-duration,
    border $timing-function $transition-duration;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: #ffffff;
    border: 2px solid $accent-color;
  }

  @include for-size(desktop) {
    padding-top: 27px;
    padding-bottom: 27px;
    min-width: 354px;

    // Text
    font-weight: bold;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: 0.14em;
    text-transform: uppercase;
  }
}

// Button for mobile menu

.menu-button {
  margin-left: 40px;
  outline: none;
  padding: 0px;
  background-color: transparent;
  border: none;

  &.is-open .icon-menu {
    display: none;
  }

  @include for-size(desktop) {
    display: none;
  }
}

// Button inside mobile-menu

.button-menu {
  display: block;
  // Size
  padding-top: 14px;
  padding-bottom: 14px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include for-size(tablet-portrait) {
    max-width: 260px;
  }

  // Visual
  border: 2px solid $accent-color;
  background-color: transparent;
  color: $accent-color;

  // Text
  font-weight: bold;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  // Reset
  cursor: pointer;
  outline: none;
  text-decoration: none;

  //  Effects
  transition: color $timing-function $transition-duration,
    background-color $timing-function $transition-duration;

  &:hover {
    color: #ffffff;
    background-color: $accent-color;
  }

  @include for-size(tablet-landscape) {
    display: none;
  }
}
