.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  display: flex;
  // &::before {
  //   content: '';
  //   display: flex;
  //   width: 58px;
  //   height: 60px;
  //   background-image: url(../images/icons/female.svg);
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
  &:not(:last-child) {
    margin: 0 30px 0 0;

    @include for-size(tablet) {
      margin: 0 0 0 21px;
    }

    @include for-size(desktop) {
      margin: 0 0 0 0;
    }
  }
}

.features-icon {
  fill: $accent-color;
  height: 50px;

  background-color: transparent;
}
