.block-guaranties {

    @include for-size(max-tablet) {
        margin-left: auto;
        margin-right: auto;
        background-color: #F1F1F1;
    }

}

.guaranties {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.list-guaranties {
    background-color: #F1F1F1;
    font-size: 12px;
    line-height: 1.66;
    color: $secondary-text-color;

    text-align: left;

    @include for-size(max-tablet) {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 35px;


    }

    @include for-size(tablet-landscape) {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 118px;
        padding-right: 50px;
        background-color: #F1F1F1;
    }

    @include for-size(desktop) {
        padding-top: 50px;
        padding-bottom: 45px;
        padding-left: 164px;
        padding-right: 112px;
        font-size: 20px;
        line-height: 1.4;
    }

    & li:not(:last-child) {
        margin-bottom: 23px;

        @include for-size(desktop) {
            margin-bottom: 20px;
        }

    }
}