.container.guaranties {
    background-color: #F1F1F1;
}

.container .common-title {
    margin-top: 0px;
    margin-bottom: 30px;
}

.enumeration.list-guaranties {
    padding-top: 30px;
    padding-bottom: 30px;
}

.list-guaranties {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    margin: 0px;
    color: #b9b9b9;