.main {
  width: 50%;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;

  color: $title-text-color;

  @include for-size(tablet) {
    font-size: 26px;
    line-height: 130%;
  }

  @include for-size(desktop) {
    margin-bottom: 24px;

    font-size: 58px;
    line-height: 130%;
  }
}

.main-paragraph {
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 22px;

  color: $title-text-color;

  @include for-size(desktop) {
    margin-bottom: 40px;

    font-size: 20px;
    line-height: 164.9%;
  }
}

.main-paragraph-text {
  color: $primary-text-color;
}

.main-paragraph-score {
  color: $accent-color;
}
