// header //

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
}

.nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items:not(:last-child) {
  margin-right: 40px;
}
