// header //

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 45px;
}

.nav.enumeration {
  display: none;
  @include for-size(desktop) {
    display: flex;
    color: $primary-text-color;
  }
}

.nav-items:not(:last-child) {
  margin-right: 40px;
}

.nav-items > a {
  color: $primary-text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
