// спільні стилі для двох секції з лічильником //

.problem {
  background: #111518;
  padding-bottom: 340px;

  @include for-size(tablet-landscape) {
    padding-bottom: 150px;
  }

  @include for-size(desktop) {
    background-image: url('../images/icons/campfirebig.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 100px;
    padding-bottom: 210px;
  }
  &-container {
    position: relative;
  }
  &-wrap {
    position: absolute;
  }
  &-title {
    color: white;
    text-align: start;
    @include for-size(desktop) {
      margin-bottom: 70px;
    }
  }
}

.problem-list {
  counter-reset: section;

  padding-top: 20px;
  padding-right: 14px;
  padding-left: 30px;
  padding-bottom: 20px;

  letter-spacing: 0.08em;
  color: $secondary-text-color;

  background-color: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  &-items:not(:last-child) {
    margin-bottom: 10px;
  }

  @include for-size(tablet and tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 96px;
    // padding-top: 30px;

    &-items {
      width: calc((100% - 22px) / 2);
      justify-content: space-between;
      margin-bottom: 0;
    }
  }
  @include for-size(desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 70px;
    padding-bottom: 62px;
    padding-left: 114px;
    padding-right: 114px;

    &-items {
      width: calc((100% - 32px) / 3);
      padding-bottom: 30px;
    }
  }
}

// розмітка для ліній і списку через лічильник //

.problem-list-items {
  position: relative;
  padding-top: 10px;
}

.problem-list-items::before {
  content: '';

  position: relative;
  display: block;
  top: 0;
  left: 0;
  border-bottom: 2px solid $accent-color;
  height: 10px;
  width: 20px;
  margin-bottom: 18px;

  @include for-size(desktop) {
    height: 12px;
  }
}

.problem-list-items::after {
  content: '0' counter(section);
  counter-increment: section;

  position: absolute;

  top: 9px;
  left: 27px;

  color: $accent-color;
  font-weight: 700;
}
